{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - console admin {% endblock %}



{% block body %}
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
<nav class="navbar navbar-default no-margin">



    <div class="navbar-header fixed-brand">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="fa fa-rocket fa-4"></i> Blogi</a>
    </div>



    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                </button>
            </li>
        </ul>
    </div>




</nav>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li class="active">
                <a href="/Admin"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Dashboard</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li><a href="/Article/Edit">Edit Css</a></li>
                    <li><a href="/Article/Validation">Articles attente Validation</a></li>
                    <li><a href="/Article/GestionArticle">Gestion articles</a></li>
                    <li><a href="/Article/InscriptionValidation">Confirmations inscription</a></li>
                    <li><a href="/Article/utilisateur">Liste utilisateurs</a></li>
                    <li><a href="/Article/CategorieArticle">Gestion Categorie</a></li>

                </ul>
            </li>


        </ul>
    </div>



</nav>
<div id="wrapper">
    <div class="col-lg-6 mx-auto card p-0 maxvh">
        <label class="text-primary text-center p-2"><h3>Gestion articles</h3></label>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col">Auteur</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for article in articleList %}
                <tr>
                    <th scope="row"><a href="/Article/Show/{{ article.id }}">#{{ article.Id }}</a></th>
                    <td>{{ articleData.Titre }}</td>
                    <td>{{ articleData.Auteur }}</td>
                    <td>{{ articleData.DateAjout | date("d/m/Y") }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-success" href="/Article/Show/{{ article.Id }}"><i class="far fa-eye"></i></a>
                            <a class="btn btn-danger" href="/Article/Delete/{{ article.Id }}"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

</div>

</div>


</html>
{% endblock %}