{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - console admin {% endblock %}



{% block body %}
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    {% block css%}
        <link rel="stylesheet" href="/assets/css/dashboard.css">
    {% endblock %}
    <body>
    <nav class="navbar navbar-default no-margin">



        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-rocket fa-4"></i> Blogi</a>
        </div>



        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                    </button>
                </li>
            </ul>
        </div>




    </nav>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li class="active">
                <a href="/Admin"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Dashboard</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li><a href="/Article/Edit">Edit Css</a></li>
                    <li><a href="/Article/Validation">Articles attente Validation</a></li>
                    <li><a href="/Article/GestionArticle">Gestion articles</a></li>
                    <li><a href="/Article/InscriptionValidation">Confirmations inscription</a></li>
                    <li><a href="/Article/utilisateur">Liste utilisateurs</a></li>
                    <li><a href="/Article/CategorieArticle">Gestion Categorie</a></li>

                </ul>
            </li>


        </ul>
    </div>






    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-12">
                    <div class="container-fluid mt-2">




                        <div class="row pb-4 ml-2">
                            <div class="col-lg-5 mx-auto card p-0 maxvh">
                                <label class="text-primary text-center p-2"><h3>Gestion utilisateurs</h3></label>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Prenom</th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Roles</th>
                                        <th scope="col" class="text-center">Editer</th>
                                        <th scope="col" class="text-center">Bannir</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in listUser %}
                                        {% if 'administrateur' in user.utirole %}

                                        {% endif %}
                                        {% if 'redacteur' in user.utirole %}

                                        {% endif %}
                                        <tr>
                                            <th scope="row"> {{ user.iduti }}</th>
                                            <td> {{ user.utiprenom }}</td>
                                            <td> {{ user.utinom }}</td>
                                            <td>
                                                {% if 'administrateur' in user.utirole %}
                                                    <span>Admin </span>
                                                {% endif %}
                                                {% if 'redacteur' in user.utirole %}
                                                    <span>Rédacteur </span>
                                                {% endif %}
                                            </td>
                                            {% if session.login.id != user.iduti %}
                                                <td class="text-center row">
                                                    <select name="role" form="updateUser{{ user.iduti }}">
                                                        {% if 'administrateur' not in user.utirole %}
                                                            <option value="administrateur">Admin</option>
                                                        {% endif %}
                                                        {% if 'redacteur' not in user.utirole %}
                                                            <option value="redacteur">Rédacteur</option>
                                                        {% endif %}
                                                        <option value="">Retirer tous les droits</option>
                                                    </select>
                                                    <form action="/User/update/{{ user.iduti }}" method="post" id="updateUser{{ user.iduti }}">
                                                        <button type="submit" class="btn btn-warning"><i class="far fa-edit"></i></button>
                                                    </form>
                                                </td>
                                                <td class="text-center">
                                                    <form action="/User/Banned/{{ user.iduti }}" method="post">
                                                        <button type="submit" name="banUser" class="btn btn-danger"><i class="fas fa-user-slash"></i></button>
                                                    </form>
                                                </td>
                                            {% else %}
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-warning" disabled><i class="far fa-edit"></i></button>
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" name="deleteCategorie" disabled class="btn btn-danger"><i class="fas fa-user-slash"></i></button>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </html>
{% endblock %}